@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/CabinetGrotesk-Bold"),
    url("./fonts/CabinetGrotesk-Bold.woff") format("otf");
}

@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Cabinetrotesk-Light"),
    url("./fonts/CabinetGrotesk-Light.otf") format("otf");
}

@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/CabinetGrotesk-Medium"),
    url("./fonts/CabinetGrotesk-Medium.otf") format("otf");
}

@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/CabinetGrotesk-Regular"),
    url("./fonts/CabinetGrotesk-Regular.otf") format("otf");
}
